node_modules
dist
build
npm-debug.log
.env
.env.*
!.env.example
!.env.production
.git
.gitignore
.dockerignore
Dockerfile
dockerfile
Jenkinsfile
ecosystem.config.js
README.md
.eslintrc.cjs
.prettierrc.json
.prettierignore
.editorconfig
*.log
coverage
.vscode
.idea
.DS_Store
